go.sum
*.a
*.so
*.o

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.*swp
*~
mudscript
bin
*.zip
mudlib/data/user
mudlib/data/nature.o
mudlib/data/system.o
mudlib/data/lm/
mudlib/std/proxy/
mudlib/data/test_save.o
fs_cache/
run*
debug_*
*.tmp
*.log
fs/log
fs/log/USAGE
fs/log/init.log
fs/log/log
fs/u/b/bss/
fs/u/b/bss/record/no_in_open
