
仙劍掌門鄭士欣


      鄭士欣。現正執掌仙劍門戶，同時身為劍士公會總會長。近十餘年來，
  因仙劍七俠已能獨當一面，分擔派內事務；而公會事務也由三長老柳毅全權
  負責，鄭士欣每天除了至藏經閣精研武學外，就是在此接見外賓。著名絕招
  為雙十旋龍斬和融合「仙劍禁斷之連陽七訣」的七陽連天.
     
      仙劍派鎮派之寶 : 鄭士欣的佩劍連陽劍, 是逍遙子所傳下來的寶劍.

      靈劍連陽, 和靈刀夜千鳥, 靈筆麗玉蝶蘭並稱「開天三靈器」.劍身通體
  成虹, 劍鋒更有隱隱泛出如火紅光, 銳利無比.

